---
layout: default.njk
body: 'page-template'
---

<div class="small-banner">
  <h1>{{ (category if category else title) | capitalize }}</h1>
</div>

<div class="container">
  <div class="flex-grid">
    <div class="column md-8">
      {{ content | safe }}
    </div>
    <div class="column md-4">
      <h3 class="category-title">Categories</h3>
      {% for tag in collections.postTags %}
        <a href="{{ '/posts/' + tag | url }}"><h6>{{ tag | upper }}</h6></a>
      {% endfor %}
    </div>
  </div>
</div>
