$max-width: 75em;
$breakpoint-medium: 48em;
$breakpoint-large: 64em;

$black: #2F2E41;
$gray: #999999;

$pantone-lime-green: #9FC131;
$purple: #9230C2;

//$gray-dark: #a9a9a9;
$gray-medium: #c7c7c7;
$gray-light: #E6E6E6;
$white-dark: #f4f4f4;
$white: #ffffff;
$salmon: #fa8072;
$blue: #36a1d4;
$blue-light: #77bfe2;

$color-primary: $pantone-lime-green;
$color-secondary: $purple;

$font-4xl: 4.209rem;
$font-3xl: 3.157rem;
$font-2xl: 2.369rem;
$font-xl: 1.777rem;
$font-lg: 1.333rem;
$font-md: 1rem;
$font-sm: 0.75rem;

$font-primary: 'Poppins', sans-serif;
$font-accent: 'Merriweather', sans-serif;
