<nav class="navbar">
  <div class="container">
    <ul class="nav-brand">
      <li><a href="{{ '/' | url }}">Alexandre</a></li>
      <li>
        <button class="burger" type="button" onclick="toggleNavbar()">
          <i></i>
          <i></i>
          <i></i>
        </button>
      </li>
    </ul>
    <div class="collapsed">
      <ul class="nav-menu">
        <li><a href="{{ '/posts/' | url }}">Posts</a></li>
        {% for tag in collections.postTags %}
          <li><a href="{{ '/posts/' + tag + '/' | url }}">{{ tag | capitalize }}</a></li>
        {% endfor %}
      </ul>
      <ul class="nav-socials">
        <li><a href="https://github.com/astlaure">{% include 'components/icon-github.njk' %}</a></li>
        <li><a href="https://www.linkedin.com/in/alexandre-st-laurent-326b19120/">{% include 'components/icon-linkedin.njk' %}</a></li>
      </ul>
    </div>
  </div>
</nav>
