@use "../abstracts/variables" as *;

body {
  font-size: $font-md;
  font-family: $font-primary;
  color: $black;
}

a {
  color: $salmon;
  text-decoration: none;
  transition: all 150ms ease-out;

  &:hover {
    color: darken($salmon, 15%);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-accent;
}

h1 {
  font-size: $font-4xl;
}

h2 {
  font-size: $font-3xl;
}

h3 {
  font-size: $font-2xl;
}

h4 {
  font-size: $font-xl;
}

h5 {
  font-size: $font-lg;
}

h6 {
  font-size: $font-md;
}
