---
layout: default.njk
permalink: /404.html
body: error-404-template
---

<div class="small-banner">
  <h3>The page you are looking for is not here.</h3>
</div>

<div class="container error-container">
  <a class="error-btn" href="{{ '/' | url }}">Back to the homepage</a>
</div>
