---
layout: default.njk
---

<div class="soft-banner">
  <div class="container">
    <div class="flex-grid" style="align-items: center">
      <div class="column md-7">
        <h2>Alexandre's Blog</h2>
        <h5>Experiences and gotcha about architecture and programming</h5>
      </div>
      <div class="column md-5">
        <img src="{{ '/assets/images/software-developer.svg' }}" alt="developer">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex-grid">
    <div class="column md-8">
      {{ content | safe }}
    </div>
    <div class="column md-4">
      <h3>Categories</h3>
      {% for tag in collections.postTags %}
        <a href="{{ '/posts/' + tag + '/' | url }}"><h6>{{ tag | upper }}</h6></a>
      {% endfor %}
    </div>
  </div>
</div>
